.misc{background-color:#FFCC00;
}
.coms{background-color:#ff3333;
}

.work{background-color:lavender
}
;
.eat{background-color:#FF0066;
color:white;
}

.hr{background-color:#33ccff;
}
.compsci{background-color:#00ff00;
}
.band{background-color:#20B2AA;

table {
  border:groove;
  border-color:black;
  text-align:center;
  border-width:3px;
}
th {
  border:dotted;
  border-color:red;
  text-align:center;
  font-family:fantasy;
  
}
td {
  border:solid;
  border-color:black;
  text-align:center;
}
